 header div div div{
    display: flex;
    flex-direction: row;
}

header div div div h6{
    margin-top: 6%;
}
.container{
    width: 100%;
    position: relative;
    margin: 0%;
}

#image_text{
    display: flex;
    flex-direction: column;
    border: 2px;
    /* size: 100%;  */
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    text-align: right;
    transform: translate(0%, -50%); 
    margin-right: 10%;
    justify-content: right;
}
.navbar-dark .nav-item .colorVerde {
    color:green;
}

.fondoVerde{
    background-color:rgb(0, 209, 0);
}

.boton_enviar{
    background-color: rgb(135, 201, 59)
}

.navbar-dark-green{
    background-color: rgb(2, 61, 78)
}



.oscurecer-img{
    filter: brightness(50%);
}

.aclarar-img{
    filter: brightness(150%);
}

/*
#tickets_buy{
    color:green
}

a{
    color: grey;
    text-decoration:none;
    margin: 5px;
}

#left_column{
    padding-left: 3%;
}
#right_column{
    padding-right: 3%;
}





#small_text{
    border: 2px;
    font-size: 0.5rem !important;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
}



div div button {
    margin-left: 5px;
    align-items: flex-end;
    justify-self: flex-end
    flex-basis 30%;
}


.buy_tickets_button{
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    border: 1px solid rgb(0, 255, 0);
}

main h6{
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1%;
    color: gray;

}

main h2{
    text-align: center;

}

main div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

main div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    text-align: center;
}

main div div img{
    width: 70%;
    border-radius: 2%;
}

main div div div{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.javascript_button{
    background-color: rgb(231, 231, 8);
    color: rgb(0, 0, 0);
    border-radius: 10%;
    font-weight: bold;
    border: 0;
    margin-top: 5%;
}

.react_button{
    background-color: rgb(46, 144, 255);
    color: white;
    border-radius: 10%;
    font-weight: bold;
    border: 0;
    margin-top: 5%;

}

.negocios_button{
    background-color: rgb(121, 121, 121);
    color: white;
    border-radius: 10%;
    font-weight: bold;
    border: 0;
    margin-top: 5%;

}

.startups_button{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 10%;
    font-weight: bold;
    border: 0;
    margin-top: 5%;

}

div div h4{
    text-align: left;
    width: 58%;
    font-size: 1.7rem;
}

div div p{
    width: 50%;
    font-size: 75%;
    margin-top: 1%;
}


section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

section div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    
}

tr td img{
    width: 100%;
}

tr td {
    background-color: rgb(75, 75, 75);
    color: white;
    width: 50%;
    text-align: top;
    vertical-align: top;;
    border: white solid 2px;

}

tr td h6{
    color: white;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.9;
    
}

tr td h3{
    margin-top: 5%;

}

tr td button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8%;
    margin-top: 2%;
}

tr td h6, tr td h3, tr td button{
    margin-left: 2%
}

.half_width{
    width: 50%;
    margin-left: 25%;

}

.g-md-2{
    justify-content: center;
}

#theme_speek{
    height: 8rem;
    justify-content: start;
}

.align_left{
    text-align: left;
    width: 100%;
    color: gray;
}

.full_button{
    background-color: rgb(51, 223, 51);
    color: white;
    border: 1px solid rgb(51, 223, 51);
    width: 100%;

}

.width_11{
    width: 11%;
    justify-content: center;
    text-align: center;
    color: white;
    vertical-align: middle;
}

footer div nav{
    width: 77%;
    margin-left: 11.5% ;
    height: 100%;
}

footer div{
    width: 100%;
    background-color:rgb(16, 83, 109) ;
    height: 6rem;
} */